---
---

@import "{{ site.theme }}";

.page-header {
  background-image:
    linear-gradient(rgba(0,120,120,0.85), rgba(0,120,120,0.85)),
    url("../images/homelab-banner.jpg");
  background-size: cover;
  background-position: center;
}
.nav-active {
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
